<div id="dashboard-featured">

        <div id="featuredInstructors" class="carousel slide featured-carousel" data-ride="carousel">
            
            <div class="carousel-inner featured-carousel-inner bg-dark">
                <h4 class="text-light">Najboljši Inštruktorji</h4>
                <div class="carousel-item active">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/instruktor2.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Stanislava Radosavljević</h5>
                            <p class="card-text">Matematika, Fizika</p>
                            <a href="/profil/ogled" class="btn btn-primary">Profil</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/instruktor3.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Katarina Štanta</h5>
                            <p class="card-text">Kemija</p>
                            <a href="/profil/ogled" class="btn btn-primary">Profil</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/instruktor1.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Mark Zuki</h5>
                            <p class="card-text">Programiranje, Angleščina</p>
                            <a href="/profil/ogled" class="btn btn-primary">Profil</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev featured-controls featured-controls-prev" href="#featuredInstructors"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next featured-controls featured-controls-next" href="#featuredInstructors"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div id="featuredEvents" class="carousel slide featured-carousel" data-ride="carousel">
            <div class="carousel-inner featured-carousel-inner bg-dark">
                <h4 class="text-light">Prihajajoči dogodki</h4>
                <div class="carousel-item active">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/mat.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Predavanje o premicah</h5>
                            <p class="card-text">Ponedeljek, 17:00, brezplačno</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/fiz.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Tečaj Photoshopa</h5>
                            <p class="card-text">Sobota, 12:00, 5€</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/prog.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Skupno programiranje v JS</h5>
                            <p class="card-text">Ponedeljek - Petek, brezplačno</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev featured-controls featured-controls-prev" href="#featuredEvents"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next featured-controls featured-controls-next" href="#featuredEvents"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        <div id="featuredJobs" class="carousel slide featured-carousel" data-ride="carousel">
            <div class="carousel-inner featured-carousel-inner bg-dark">
                <h4 class="text-light">Promovirane ponudbe</h4>
                <div class="carousel-item active">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/prog.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Program v Javi</h5>
                            <p class="card-text">Petek, 5€</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/slo.jpg" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Esej</h5>
                            <p class="card-text">Ponedeljek, 45€</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card featured-instructor">
                        <img class="card-img-top" src="./assets/pics/oblikovanje.png" alt="Card image cap">
                        <div class="card-body featured-card-body">
                            <h5 class="card-title">Autocad tloris hiše</h5>
                            <p class="card-text">19. 11. 2020, 200€</p>
                            <a href="/profil/ogled" class="btn btn-primary">Ogled</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev featured-controls featured-controls-prev" href="#featuredJobs"
                    role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next featured-controls featured-controls-next" href="#featuredJobs"
                    role="button" data-slide="next">
                    <span class="carousel-control-next-icon featured-controls-icons" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>