<!--navBar-->
<nav class="navbar navbar-expand bg-transparent fixed-top">
  <a href="/"><img class="mr-auto" src="./assets/icons/stbree_logo_white.png" height="53px" width="94px"></a>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link text-light" href="/prijava">Prijava</a>
    </li>
    <li class="nav-item nav-item-signup">
      <a class="nav-link text-light" href="/registracija">Registracija</a>
    </li>
  </ul>
</nav>