
.bg-custom{
    max-height: 30rem;
    background-color: #212529;
    color: white;
}

h1{
    text-transform: uppercase;
}

/*CAROUSEL MODIFICATIONS START*/
.carousel-item-next, 
.carousel-item-previous, 
.carousel-item-active {
    transition: transform 1.5s ease;
}

#carousel0 .carousel-inner .carousel-item img,
#carousel0 .carousel-inner .carousel-item-next img, 
#carousel0 .carousel-inner .carousel-item-previous img, 
#carousel0 .carousel-inner .carousel-item-active img{
     /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(3px);
  max-height: 43rem!important;
}

.carousel-caption{
    position: absolute; /*so we can place it wherever we want on the page*/
    top: 35%; /*from the top of the element its inside of*/
    transform: translateY(-45%); /*that its in the middle of the %age bar, not beneath it*/
}

.carousel-caption h1{
    font-size: 2.5rem;
    text-shadow: .1rem .1rem .3 rem rgba(0, 0,0 , 1);
}

.carousel-caption h3{
    font-size: 1.2rem;
}

.border-primary { /*ne dela*/
    border-top: .2rem solid #bfb1c1!important;
}

/*mobile gutter fix, like overflow on cellphones*/
.row, .container-fluid{
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.img-responsive{
    width: 100%;
    height: 15em;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    transform: scale(1.00);
  }
  /*CAROUSEL MODIFICATIONS END START*/

/*FOOTER MODIFICATIONS START*/
footer {
    background-color: #292b2c;
    position:absolute, fixed;
    width: 100%;
    bottom: 0;
  }
  
  footer p{
    margin-bottom: 0;
  }
  
  /*FOOTER MODIFICATIONS END*/
