.geslo{
    text-align: center;
    padding-top: 15px;
}

.podatki{
    padding-bottom: 45px;
    padding-left: 120px;
    padding-right: 400px;
    background-color: green;
    background-color: #43aa8b;
    font-size: 20px;
    border: 30px solid #254441;
    border-radius: 30px;
    
}

.naslov{
    padding-top: 50px;
    font-size: 40px;
    
}

.glavne{
    padding: 15px;
    margin-top: 15px;
    border: 5px solid #ff6f59;
    border-radius: 25px;
    margin-right: -370px;
    
}

.pod_dva{
    float: right;
}

.image{
    float: right;
    margin-right: 60px;
    margin-top: 70px;
}

.text-box{
    margin-top: 10px;
    background-color: gray;
    background-color: #b2b09b;
    border-radius: 25px;
}

