<div id="hero">
    <video loop muted autoplay poster="../../../assets/media/backgrounds/welcome_poster.png">
        <source src="../../../assets/media/backgrounds/welcome_video.mp4" type="video/mp4">
    </video>

    <div class="welcome-content d-flex align-items-center">
        <div class="container text-light text-center">
            <h4>Povežimo znanje</h4>
            <br>
            <h1>Svet stoji na mladih, ampak tudi ti potrebujejo podporo</h1>
            <br>
            <h5>Ne dovoli trenutnemu epidemiološkem stanju, da te spravi na kolena. Poveži se s kolegi in razširi
                obseg
                znanja.
                <br>
                <br>
                Pridi do zaslužka na področju tvojega študija in pomagaj sovrstnikom doseči svoje cilje.
            </h5>
        </div>
    </div>

</div>

<div class="container-fluid text-light text-center middle-content">
    <div class="row">
        <div class="col">
            <p>Potrebuješ pomoč pri učenju težjega predmeta? Preveri seznam dosegljivih inštruktorjev in se dogovori
                za
                pomoč.</p>
            <button routerLink="instruktorji" class="btn btn-info">Inštrukcije</button>
        </div>
    </div>
</div>

<div class="container-fluid form-container middle-content" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="formSign form">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Postani inštruktor</h1>
                        <p>Obvladaš katerega izmed šolskih predmetov, si pripravljen deliti svoje znanje ter
                            pomagati drugim?</p>
                        <hr>
                        <img src="../../../assets/media/pics/instruktor.png" class="mx-auto d-block"
                            style="width: 50%; padding-bottom: 15px;">
                        <p>Vse kar moraš narediti je, da se registriraš (označiš da želiš biti inštruktor) in si
                            urediš svoj
                            profil,
                            da bodo ostali lahko videli katere predmete obvladaš. Nato objaviš ponudbo, v katero
                            dodaš link do svoje Zoom konference in počakaš učence, da se prijavijo
                            na tvojo inštrukcijo. Na svoji ponudbi lahko nastaviš ceno, seveda pa lahko pomagaš
                            brezplačno.
                        </p>
                        <hr>
                        <p>Bi se rad preizkusil v vlogi inštruktorja oziroma si že stari znanec inštuiranja? <a
                                routerLink="registracija" id="signup">Pridruži se zdaj!</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="formSign form">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Postani učenec</h1>
                        <p>Imaš težave v šoli in bi rad dobil dodatno razlago snovi, ali želiš izvedeti še več o tem
                            področju?</p>
                        <hr>
                        <img src="../../../assets/media/pics/ucenec.png" class="mx-auto d-block"
                            style="width: 50%; padding-bottom: 15px;">
                        <p>Si zaradi aktualnega virusa zaostal za snovjo v šoli? So ti Arnesove težave s serverji
                            zmešale štrene?
                            Ustvarili smo portal, da te težave odpravimo. Bi rad poiskal pomoč pri inštruktorjih, pa
                            zaradi
                            najnovejših ukrepov ne smeš zapustiti lastne hiše? Pri nas vse poteka brezstično in na
                            daljavo.
                            Registriraj se in preveri ponudbo.
                        </p>
                        <hr>
                        <p>Se najdeš v zgornjem poklicu in želiš razširi znanje? <br><a routerLink="registracija"
                                id="signup">Pridruži
                                se zdaj!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-light text-center middle-content">
    <div class="row">
        <div class="col">
            <p>Iščeš zaslužek ali želiš pomagati s svojim znanjem? Preglej si ponudbo del in dogovori se s
                ponudnikom.</p>
            <button routerLink="ponudba-del" class="btn btn-info">Ponudba del</button>
        </div>
    </div>
</div>

<div class="container-fluid form-container middle-content" style="padding-bottom: 40px;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="formSign form">
                <div class="logo mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Sodeluj v projektih</h1>
                        <p>Iščeš dodaten zaslužek ali nove izzive?</p>
                        <hr>
                        <img src="../../../assets/media/pics/delo.png" class="mx-auto d-block"
                            style="width: 50%; padding-bottom: 15px;">
                        <p>Podjetja in posamezniki v Sloveniji iščejo ljudi, ki bi jim pomagail izpeljati razne
                            projekte oziroma
                            opravila,
                            za ketere jim zmanjka časa. Če imaš ti svojega časa preveč, se hitro registriraj in
                            preveri ponudbe za
                            delo, saj
                            lahko z delom razširiš svoje znanje in zraven tega tudi nekaj zaslužiš.
                        </p>
                        <hr>
                        <p>Preveri seznam del in projektov. <a routerLink="registracija" id="signup">Pridruži se
                                zdaj!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>