<div id="db">
    <div class="buttons">
        <a class="db-btn btn btn-outline-dark" (click)="fillDB()">Uvozi podatke</a>
        <a class="db-btn btn btn-outline-dark" (click)="dropDB()">Izbriši podatke</a>
    </div>


    <style>
        #db {
            background: azure;
            height: 90vh !important;
        }

        .buttons {
            width: 50%;
            margin: auto;
        }

        .db-btn {
            width: 100%;
            margin-top: 5rem;
            padding: 3rem;
        }
    </style>
</div>