<!--footer-->
<footer class="page-footer font-small pt-4 text-light">
    <div class="container-fluid text-center">
        <h6 class="text-uppercase">Kontaktirajte nas</h6>

        <ul class="list-unstyled">
            <li class="d-inline">
                <a href="https://www.facebook.com" target="_blank"><img widht="30px" height="30px"
                        src="../../../../assets/media/icons/facebook_logo.png" alt="facebook_logo"></a>
            </li>
            <li class="d-inline">
                <a href="https://www.instagram.com" target="_blank"><img widht="30px" height="30px"
                        src="../../../../assets/media/icons/instagram_logo.png" alt="instagram_logo"></a>
            </li>
            <li class="d-inline">
                <a href="https://www.twitter.com" target="_blank"><img widht="30px" height="30px"
                        src="../../../../assets/media/icons/twitter_logo.png" alt="twitter_logo"></a>
            </li>
            <li class="d-inline">
                <a href="https://www.linkedin.com" target="_blank"><img widht="30px" height="30px"
                        src="../../../../assets/media/icons/linkedin_logo.png" alt="linkedin_logo"></a>
            </li>
        </ul>
    </div>

    <div class="footer-copyright text-center py-3">
        © 2020 Copyright: <a href="#" class="text-info">https://skupina-27.com</a>
    </div>
</footer>