<div class="alert alert-warning container" style="margin-top: 2rem" *ngIf="sporocilo">{{sporocilo}}</div>

<div *ngIf="uporabnik && signedStatus" class="container">
  <h1 id="profile-naslov">{{uporabnik.ime}} {{uporabnik.priimek}}</h1>

  <!-- {{!-- BUTTONS TO EDIT --}} -->
  <button *ngIf="uporabnik&&isAdmin&&isLoggedIn" class="btn btn-danger d-inline" id="delete-btn" (click)="assure(delete)"><i
      class="fas fa-trash-alt"></i></button>

      <ng-template #delete let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Izbriši profil</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <p>Ali ste prepričani, da želite izbrisati svoj profil?</p>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Prekliči</button> -->
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Potrdi</button>
        </div>
      </ng-template>

  <button *ngIf="uporabnik&&isAdmin&&isLoggedIn" id="save-btn" value="save" class="btn btn-success d-none"
    (click)="saveUserInfo()"><i class="fas fa-check"></i></button>
  <button *ngIf="uporabnik&&isAdmin&&isLoggedIn" class="btn btn-warning d-ilblock" id="edit-btn" (click)="editUserInfo()"><i
      class="fas fa-edit"></i></button>
  <hr>

  <!-- {{!-- DESCRIPTION AND PROFILE PIC --}} -->
  <div *ngIf="!editState else editMode">
    <div class="row">
      <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center flex-column">
        <form>
          <div class="form-group">
            <label for="opisProfila">Opis:</label>
            <p class="card-text" id="opis">{{uporabnik.opis}}</p>
          </div>
        </form>
      </div>
      <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center">
        <img src="/assets/media/pics/profile_picture.png" alt="ProfilnaSlika" class="img-responsive"
          style="width: 200px; height:200px">
      </div>
    </div>

    <!-- {{!-- MAIN DATA ABOUT USER --}} -->
    <div class="row">
      <div class="table-responsive">
        <hr>
        <table class="table table-borderless" id="tabela-podatkov">
          <tbody>
            <h4 id="profile-podnaslov">Podatki:</h4>
            <tr>
              <th class="thPodatki" scope="row">Email naslov:</th>
              <td id="email">{{uporabnik.email}}</td>
            </tr>
            <tr>
              <th class="thPodatki" scope="row">Telefonska številka:</th>
              <td id="phone">{{uporabnik.telefonskaStevilka}}</td>
            </tr>
            <tr>
              <th class="thPodatki" scope="row">Status inštruktorja:</th>
              <td *ngIf="uporabnik.statusInstruktorja" id="status">Da</td>
              <td *ngIf="!uporabnik.statusInstruktorja" id="status">Ne</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--  MAIN DATA ABOUT USER EDIT  -->
  <ng-template #editMode>
    <div class="row">
      <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center flex-column">
        <div class="form-group">
          <label for="opisProfila">Opis:</label>
          <input [(ngModel)]="uporabnik.opis" class="card-text form-control form-control-md" id="opis" name="opis"
            type="text">
        </div>
      </div>
      <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center">
        <img src="/assets/media/pics/profile_picture.png" alt="ProfilnaSlika" class="img-responsive"
          style="width: 200px; height:200px">
      </div>
    </div>
  
    <div class="row">
      <div class="table-responsive">
        <hr>
        <table class="table table-borderless" id="tabela-podatkov">
          <tbody>
            <h4 id="profile-podnaslov">Podatki:</h4>
            <tr>
              <th class="thPodatki" scope="row">Email naslov:</th>
              <td id="email">{{uporabnik.email}}</td>
            </tr>
            <tr>
              <th class="thPodatki" scope="row">Telefonska številka:</th>
              <input [(ngModel)]="uporabnik.telefonskaStevilka" id="phone" class="form-control form-control-md"
                name="telefonskaStevilka" type="number">
            </tr>
            <tr>
              <th class="thPodatki" scope="row">Status inštruktorja:</th>
                <input [(ngModel)]="uporabnik.statusInstruktorja"
                  (change)="becomeAnInstructor(uporabnik.statusInstruktorja?true:false)" type="checkbox"
                  id="statusInstruktorja" name="statusInstruktorja" checked="true" value="true">
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>

  <hr>
  <!-- {{!-- ADDITIONAL OPTIONS ADMIN --}} -->
  <div *ngIf="uporabnik&&isAdmin">
    <div class="tab pb-5">
      <button class="tablinks" (click)="openCity(event, 'kronologija')">Seznam objav</button>
      <!-- <button class="tablinks" (click)="openCity(event, 'dela')">Seznam objav</button> -->
      <button class="tablinks" (click)="open(content)">Spremeni geslo</button>
    </div>

    <!-- {{!-- LIST OF POSTS --}} -->
    <div id="kronologija" class="tabcontent">
      <div class="justify-content-center" *ngIf="featuredEvents || featuredOffers else niObveznosti">
        <table class="table table-hover container-fluid" id="todo-list" *ngIf="featuredEvents">
          <thead class="thead-dark" id="featuredEvents">
            <th colspan="3">
              <h5 class="container-fluid text-light bg-dark">Moji objavljeni dogodki</h5>
            </th>
            <tr>
              <th scope="col">Datum</th>
              <th scope="col" class="hour-column">Ura</th>
              <th scope="col">Opravilo</th>
            </tr>
          </thead>
          <tbody *ngFor="let event of featuredEvents">
            <tr *ngIf="event.emailInstruktorja == uporabnik.email">
              <th scope="row">{{ event.datum | date:'d. M. yyyy' }}</th>
              <th scope="row" class="hour-column">{{ event.ura }}</th>
              <th scope="row"><a *ngIf="event._id"
                  routerLink="/instrukcije-dogodki/dogodek/{{ event._id }}">{{event.naziv}}</a>
              </th>
            </tr>
          </tbody>
        </table>
    
        <table class="table table-hover container-fluid" id="todo-list" *ngIf="featuredOffers">
          <thead class="thead-dark" id="featuredJobs">
            <th colspan="3">
              <h5 class="container-fluid text-light bg-dark">Moja objavljena dela</h5>
            </th>
            <tr>
              <th scope="col">Datum</th>
              <th scope="col">Opravilo</th>
            </tr>
          </thead>
          <tbody *ngFor="let offer of featuredOffers">
            <tr *ngIf="offer.emailPonudnika===uporabnik.email">
              <th scope="row">{{ offer.datum | date:'d. M. yyyy' }}</th>
              <th scope="row"><a *ngIf="offer._id" routerLink="/ponudba-del/delo/{{ offer._id }}">{{offer.naziv}}</a></th>
            </tr>
          </tbody>
        </table>
    
        <ng-template #niObveznosti>
          <th scope="row" colspan="3">Nimate še obveznosti.</th>
        </ng-template>
      </div>
    </div>

    <!-- {{!-- CHANGE PASSWORD --}} -->
  </div>

  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Spremeni moje geslo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <p>Vpišite novo geslo, ki naj bo dolgo 8 do 20 znakov!</p>
          <div class="form-group">
            <label for="name">Novo geslo:</label><br>
            <input type="password" id="passwordReset"><br><br>
            <label for="surname">Potrdi novo geslo: </label><br>
            <input type="password" id="passwordResetConfirm">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Potrdi</button>
      </div>
    </ng-template>

  <!-- {{!-- ADDITIONAL OPTIONS NOT ADMIN --}} -->
  <div *ngIf="uporabnik&&!isAdmin">
    <div class="tab pb-5">
      <button class="tablinks" (click)="openCity(event, 'moje-instrukcije')">Seznam objav</button>
      <!-- <button class="tablinks" (click)="openCity(event, 'moja-dela')">Seznam objav (Ponudnik)</button> -->
    </div>

    <!-- {{!-- LIST OF POSTS --}} -->
    <div id="moje-instrukcije" class="tabcontent">
      <div class="justify-content-center" *ngIf="featuredEvents || featuredOffers else niObveznosti">
        <table class="table table-hover container-fluid" id="todo-list" *ngIf="featuredEvents">
          <thead class="thead-dark" id="featuredEvents">
            <th colspan="3">
              <h5 class="container-fluid text-light bg-dark">{{ uporabnik.ime }} objavljeni dogodki</h5>
            </th>
            <tr>
              <th scope="col">Datum</th>
              <th scope="col" class="hour-column">Ura</th>
              <th scope="col">Opravilo</th>
            </tr>
          </thead>
          <tbody *ngFor="let event of featuredEvents">
            <tr *ngIf="event.emailInstruktorja == uporabnik.email">
              <th scope="row">{{ event.datum | date:'d. M. yyyy' }}</th>
              <th scope="row" class="hour-column">{{ event.ura }}</th>
              <th scope="row"><a *ngIf="event._id"
                  routerLink="/instrukcije-dogodki/dogodek/{{ event._id }}">{{event.naziv}}</a>
              </th>
            </tr>
          </tbody>
        </table>
    
        <table class="table table-hover container-fluid" id="todo-list" *ngIf="featuredOffers">
          <thead class="thead-dark" id="featuredJobs">
            <th colspan="3">
              <h5 class="container-fluid text-light bg-dark">{{ uporabnik.ime }} objavljeni dela</h5>
            </th>
            <tr>
              <th scope="col">Datum</th>
              <th scope="col">Opravilo</th>
            </tr>
          </thead>
          <tbody *ngFor="let offer of featuredOffers">
            <tr *ngIf="offer.emailPonudnika===uporabnik.email">
              <th scope="row">{{ offer.datum | date:'d. M. yyyy' }}</th>
              <th scope="row"><a *ngIf="offer._id" routerLink="/ponudba-del/delo/{{ offer._id }}">{{offer.naziv}}</a></th>
            </tr>
          </tbody>
        </table>
    
        <ng-template #niObveznosti>
          <th scope="row" colspan="3">Nimajo še obveznosti.</th>
        </ng-template>

      </div>
    </div>

  </div>
</div>