<div class="return container-fluid" style="margin-top: 1rem;">
  <a href="/ponudba-del" class="btn btn-info">Nazaj na ponudbo del</a>

  <button *ngIf="delo&&isAdmin" class="btn btn-warning d-ilblock" id="edit-btn" (click)="editJobInfo()"><i
      class="fas fa-edit"></i></button>
  <button *ngIf="delo&&isAdmin" id="save-btn" value="save" class="btn btn-success d-none" (click)="saveJobInfo()"><i
      class="fas fa-check"></i></button>
  <button *ngIf="delo&&isAdmin" class="btn btn-danger d-inline" id="delete-btn" (click)="deleteJob()"><i
      class="fas fa-trash-alt"></i></button>

</div>

<div class="alert alert-warning container" style="margin-top: 2rem" *ngIf="sporocilo">{{sporocilo}}</div>

<div class="card event" *ngIg="dogodek&&!editState else editMode">
  <img class="card-img-top event-header" src="../../../../../assets/media/thumbnails/red.png" alt="Card image cap">
  <div class="card-body event-body">
    <h5 class="card-title" id="naziv">{{delo.naziv}}</h5>
    <hr>
    <p class="card-text" id="opis">{{delo.opis}}</p>
    <hr>
    <h6>Plačilo</h6>
    <p>
      <scope id="cena">{{delo.cena}}</scope>
      <scope id="eur">€</scope>
    </p>
    <hr>
    <h6>Datum</h6>
    <p id="datum">{{delo.datum}}</p>

    <hr>
    <div *ngIf="!isAdmin&&delo.zasedeno==false&&isLoggedIn">
      <h6>Prijavi se na delo</h6>
      <div *ngIf="!signedStatus else prijavljen"><a (click)="signUp()" class="btn btn-success">Prijava</a></div>
      <ng-template #prijavljen><button type="button" class="btn btn-success" disabled>Na delo ste
          prijavljeni</button></ng-template>
    </div>

    <div *ngIf="delo.zasedeno == true">
      <div *ngIf="signedStatus"><button type="button" class="btn btn-success" disabled>Na delo ste
          prijavljeni</button></div>
      <div class="alert alert-warning container" style="margin-top: 2rem">Žal je delo že zasedeno :(</div>
    </div>
  </div>
</div>

<ng-template #editMode>
  <div class="card event" *ngIf="editState">
    <img class="card-img-top event-header" src="../../../../../assets/media/thumbnails/yellow.png" alt="Card image cap">
    <div class="card-body event-body">
      <input [(ngModel)]="delo.naziv" id="naziv" class="form-control form-control-md" name="naziv" required="required"
        type="text">
      <hr>
      <input [(ngModel)]="delo.opis" id="opis" class="form-control form-control-md" name="opis" required="required"
        type="text">
      <hr>
      <h6>Cena</h6>
      <div class="input-group mb-3">
        <input [(ngModel)]="delo.cena" class="form-control" aria-label="Recipient's username"
          aria-describedby="basic-addon2" type="number" step="0.10" min="0"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        <div class="input-group-append">
          <span class="input-group-text" id="eur">€</span>
        </div>
      </div>
      <hr>
      <h6>Datum</h6>
      <input [(ngModel)]="delo.datum" id="datum" class="form-control form-control-md" name="datum" required="required"
        type="date">
      <hr>
    </div>
  </div>
</ng-template>

<div class="card profile" *ngIf="ponudnik&&delo">
  <div class="card-body profile-body">
    <h5>Ponudnik</h5>
    <a href="/profil/ogled">
      <h3 class="profile-body-item">{{ ponudnik.ime }}</h3>
    </a>
    <hr>
    <h5>Opis uporabnika</h5>
    <h4>{{ ponudnik.opis }}</h4>
  </div>
</div>

<get-started></get-started>