<!--<div class="return container-fluid" style="margin-top: 1rem;">
  <a href="/ponudba-del" class="btn btn-info">Nazaj na ponudbo del</a>

  <button class="btn btn-warning d-ilblock" id="edit-btn" onclick="return uredi()"><i class="fas fa-edit"></i></button>
  <button id="save-btn" value="save" class="btn btn-success d-none"><i class="fas fa-check"></i></button>
  <button class="btn btn-danger d-inline" id="delete-btn"><i class="fas fa-trash-alt"></i></button>

</div>

<div class="card event">
  <img class="card-img-top event-header" src="../../assets/thumbnails/red.png" alt="Card image cap">
  <div class="card-body event-body">
    <h5 class="card-title" id="naziv">{{delo.naziv}}</h5>
    <hr>
    <p class="card-text" id="opis">{{delo.opis}}</p>
    <hr>
    <h6>Plačilo</h6>
    <p>
      <scope id="cena">{{delo.cena}}</scope>
      <scope id="eur">€</scope>
    </p>
    <hr>
    <h6>Datum</h6>
    <p id="datum">{{delo.datum}}</p>

    <hr>
    <h6>Prijavi se na delo</h6>
    <button type="button" class="btn btn-success" disabled>Na delo ste prijavljeni</button>
    <hr>
    <h6>Prijavi se na delo</h6>
    <button type="button" class="btn btn-success" disabled>Delo je že zasedeno</button>
    <hr>
    <h6>Prijavi se na delo</h6>
    <a onclick="prijavi()" class="btn btn-success">Prijava</a>

  </div>
</div>

<div class="card profile">

  <div class="card-body profile-body">
    <h5>Ponudnik</h5>
    <a href="/profil/ogled">
      <h3 class="profile-body-item">{{ime}}</h3>
    </a>
    <hr>
    <h5>Opis uporabnika</h5>
    <h4>{{opisPonudnik}}</h4>
  </div>
</div>-->