#moja-opravila {
    width: 100%;
    margin-top: 1rem;
    
}

#moja-opravila h1 {
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 0;
}

#api-container {
    background-color: antiquewhite;
    width: 20%;
    height: 100%;
    top: 0;
}