<h1 class="container" id="welcome-sign"><strong>Pozdravljeni, {{ getUsername() }}</strong></h1>
<div id="moja-opravila" class="container" style="padding: 0;">
    <h1 class="container-fluid text-light bg-dark">Moja opravila</h1>
    <table class="table table-primary table-hover container-fluid" id="todo-list" *ngIf="uporabnik">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Datum</th>
                <th scope="col" class="hour-column">Ura</th>
                <th scope="col">Opravilo</th>
            </tr>
        </thead>
        <tbody *ngIf="uporabnik.dogodki.length else niObveznosti">
            <tr *ngFor="let dogodek of uporabnik.dogodki">
                <th scope="row">{{ dogodek.datum | date:'d. M. yyyy' }}</th>
                <th scope="row" class="hour-column">{{ dogodek.ura }}</th>
                <th scope="row"><a class="text-primary" routerLink="/instrukcije-dogodki/dogodek/{{ dogodek._id }}">{{
                        dogodek.naziv }}</a></th>
            </tr>
        </tbody>
        <ng-template #niObveznosti>
            <tbody>
                <th scope="row" colspan="3">Nimate še obveznosti. Prijavite se na dogodek ali delo.</th>
            </tbody>
        </ng-template>
    </table>
</div>

<div *ngIf="covidInfo else obvestilo">
    <div id="covid" class="container">
        <h2 id="covid-info">Skupno število okužb z Covid-19 v Sloveniji: {{ getCasesToday() }}</h2>
    </div>


</div>

<div *ngIf="chart" class="container">
    <canvas id="canvas">
        {{ chart }}
    </canvas>
</div>

<ng-template #obvestilo>
    <div style="margin-top: 2rem;" class="alert alert-info container" role="alert">
        {{ sporocilo }}
    </div>
</ng-template>

<get-started></get-started>

<div id="dashboard-featured">

    <div id="featuredInstructors" class="carousel slide featured-carousel" data-ride="carousel" *ngIf="featuredInstructors.length>0">

        <div class="carousel-inner featured-carousel-inner bg-dark">
            <h4 class="text-light">Novi inštruktorji</h4>
            <div class="carousel-item" *ngFor="let instructor of featuredInstructors; let isFirst = first"
                [class.active]="isFirst">
                <div class="card featured-instructor">
                    <img class="card-img-top" src="../../../../assets/media/thumbnails/blue.png" alt="Card image cap">
                    <div class="card-body featured-card-body">
                        <h5 class="card-title"><a *ngIf="instructor.email"
                                routerLink="/profil/{{ instructor.email }}">{{ instructor.ime }} {{ instructor.priimek
                                }}</a></h5>
                        <p class="card-text">{{ instructor.opis }}</p>

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev featured-controls featured-controls-prev" href="#featuredInstructors"
                role="button" data-slide="prev">
                <span class="carousel-control-prev-icon featured-controls-icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next featured-controls featured-controls-next" href="#featuredInstructors"
                role="button" data-slide="next">
                <span class="carousel-control-next-icon featured-controls-icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div id="featuredEvents" class="carousel slide featured-carousel" data-ride="carousel" *ngIf="featuredEvents.length>0">
        <div class="carousel-inner featured-carousel-inner bg-dark">
            <h4 class="text-light">Prihajajoči dogodki</h4>
            <div class="carousel-item" *ngFor="let event of featuredEvents; let isFirst = first"
                [class.active]="isFirst">
                <div class="card featured-instructor">
                    <img class="card-img-top" src="../../../../assets/media/thumbnails/green.png" alt="Card image cap">
                    <div class="card-body featured-card-body">
                        <h5 class="card-title"><a *ngIf="event._id"
                                routerLink="/instrukcije-dogodki/dogodek/{{ event._id }}">{{ event.naziv }}</a></h5>
                        <p class="card-text">{{ event.opis }}</p>

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev featured-controls featured-controls-prev" href="#featuredEvents"
                role="button" data-slide="prev">
                <span class="carousel-control-prev-icon featured-controls-icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next featured-controls featured-controls-next" href="#featuredEvents"
                role="button" data-slide="next">
                <span class="carousel-control-next-icon featured-controls-icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div id="featuredJobs" class="carousel slide featured-carousel" data-ride="carousel" *ngIf="featuredOffers.length>0">
        <div class="carousel-inner featured-carousel-inner bg-dark">
            <h4 class="text-light">Promovirane ponudbe</h4>
            <div class="carousel-item" *ngFor="let offer of featuredOffers; let isFirst = first"
                [class.active]="isFirst">
                <div class="card featured-instructor">
                    <img class="card-img-top" src="../../../../assets/media/thumbnails/red.png" alt="Card image cap">
                    <div class="card-body featured-card-body">
                        <h5 class="card-title"><a *ngIf="offer._id" routerLink="/ponudba-del/delo/{{ offer._id }}">{{
                                offer.naziv }}</a></h5>
                        <p class="card-text">{{ offer.opis }}</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev featured-controls featured-controls-prev" href="#featuredJobs" role="button"
                data-slide="prev">
                <span class="carousel-control-prev-icon featured-controls-icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next featured-controls featured-controls-next" href="#featuredJobs" role="button"
                data-slide="next">
                <span class="carousel-control-next-icon featured-controls-icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>