<head>
    <style>
        footer {
            display: none;
        }
    </style>
</head>

<body>
    <div id="chat" class="flex-fill">
        <div id="contacts">
            <div id="contacts-header">

                <h3>Kontakti</h3>

                <div id="search">
                    <input type="text" class="form-control" placeholder="Išči...">
                </div>

            </div>

            <div id="contacts-body">
                <ul id="contact-list" class="list-unstyled">
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 2</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>
                    <li><img width="50px" height="50px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                        <h6><span>Oseba 1</span></h6>
                    </li>

                </ul>
            </div>
        </div>

        <div id="messaging">
            <div id="active-contact">
                <h4><span class="align-middle">Oseba 1</span></h4>
            </div>

            <div id="chatbox">
                <div id="messages">
                    <ul id="message-list" class="list-unstyled">
                        <li class="sent">
                            <p><span class="sent-span">prvi</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">tretji</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">tretji</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">tretji</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">tretji</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">tretji</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">tretji</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">tretji</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">tretji</span></p>
                        </li>
                        <li class="sent">
                            <p><span class="sent-span">četrti</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">peti</span></p>
                        </li>
                        <li class="sent">
                            <p><span class="sent-span">šesti</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">sedmi</span></p>
                        </li>
                        <li class="recieved">
                            <p><span class="recieved-span">zadnji?</span></p>
                        </li>
                    </ul>
                </div>

                <div id="messages-bottom">
                    <div id="send">
                        <svg width="55px" height="38px" viewBox="0 0 16 16" class="bi bi-paperclip" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
                        </svg>
                        <input type="text" class="form-control" placeholder="Vnesite sporočilo"></input>
                        <svg width="70px" height="38px" viewBox="0 0 16 16" class="bi bi-arrow-right"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg>
                    </div>
                </div>

            </div>
        </div>

        <div id="shared">
            <div id="active-contact-profile">
                <img heihgt="100px" width="100px" src="./assets/profiles/message_thumbnail_P.png" alt="profile">
                <div id="shared-buttons">
                    <a href="">
                        <svg width="40px" height="40px" viewBox="0 0 16 16" class="bi bi-telephone-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
                        </svg>
                    </a>

                    <a href="./profile_noadmin.html">
                        <svg width="40px" height="40px" viewBox="0 0 16 16" class="bi bi-person-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </a>

                </div>

            </div>

            <div id="shared-files" class="dropdown">
                <ul id="file-list" class="list-unstyled">
                    <li>
                        <p>slika.png</p>
                    </li>
                    <li>
                        <p>word.docx</p>
                    </li>
                    <li>
                        <p>predstavitev.pptx</p>
                    </li>
                    <li>
                        <p>naloge.zip</p>
                    </li>
                    <li>
                        <p>lol.gif</p>
                    </li>
                    <li>
                        <p>ok.blend</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer></footer>
    </div>
</body>