<body>
    <table class="table table-primary table-hover container" id="todo-list">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Ura</th>
                <th scope="col">Opravilo</th>
                <th scope="col">Izvajalec / Delodajalec</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">19. 11. 2020</th>
                <th scope="row">17:00</th>
                <td><a href="/instrukcije-dogodki/dogodek">Inštrukcije Matematike</a></td>
                <td><a href="/profil/ogled">Mark Zuki</a></td>
            </tr>
            <tr>
                <th scope="row">12. 12. 2020</th>
                <th scope="row">-</th>
                <td><a href="/ponudba-del/delo">Program v javi</a></td>
                <td><a href="/profil/ogled">Katarina Štanta</a></td>
            </tr>
            <tr>
                <th scope="row">3. 1. 2021</th>
                <th scope="row">20:00</th>
                <td><a href="/instrukcije-dogodki/dogodek">Photoshop tečaj</a></td>
                <td><a href="/profil/ogled"></a>Stanislava Radosavljević</td>
            </tr>
        </tbody>
    </table>

    {{> carousel_featured}}

</body>