<body>

    <div class="container">
        <div class="row" style="padding-top: 30px;">
            <div class="col">
                <h1>Objavi oglas za inštrukcije</h1>
                <p><i>Izpolni spodnje podatke in objavi oglas za inštrukcije, s katerimi lahko pomagaš učencem v
                        težavah.</i></p>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="nazivInštrukcije">Naziv inštrukcij</label>
                        <input type="text" class="form-control" placeholder="Kakšno inštrukcijo ponujaš?">
                    </div>
                    <div class="form-group">
                        <label for="opis Inštrukcije">Opis inštrukcij</label>
                        <textarea class="form-control" id="opisInštrukcije" rows="5"
                            placeholder="Napiši informacije o inštrukciji"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="cenaDela">Cena inštrukcij</label>
                        <input type="text" class="form-control"
                            placeholder="Če je inštrukcija brezplačna, pusti to polje prazno">
                    </div>
                    <div class="form-group">
                        <label for="cenaDela">Datum inštrukcij</label>
                        <input type="text" class="form-control" placeholder="Izberi datum (manjka javascript)">
                    </div>
                    <div class="form-group">
                        <label for="inputState">Tip instrukcij</label>
                        <select id="inputState" class="form-control">
                            <option>Matematika</option>
                            <option>Fizika</option>
                            <option>Kemija</option>
                            <option>Ostalo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="naslovnaSlikaInstrukcije">Dodaj naslovno fotografijo (neobvezno)</label>
                        <input type="file" class="form-control-file" id="naslovnaSlikaInstrukcije">
                    </div>
                    <button type="submit" class="btn btn-primary">Objavi</button>
                    <hr>
                </form>
            </div>
        </div>
    </div>

    {{> carousel}}
</body>