<body>
    <div class="return container-fluid" style="margin-top: 1rem;">
        <a href="/instrukcije-dogodki" class="btn btn-info">Nazaj na seznam dogodkov</a>
    </div>

    <div class="card event">
        <img class="card-img-top event-header" src="/assets/pics/oblikovanje.png" alt="Card image cap">
        <div class="card-body event-body">
            <h5 class="card-title">Predavanje na temo daljic in premic</h5>
            <hr>
            <p class="card-text">Predavanje bo trajalo 30 minut, po čemer me boste lahko spraševali vse na temo daljic
                ter premic.</p>
            <hr>
            <h6>Datum</h6>
            <p>16. 11. 2020</p>
            <hr>
            <h6>Čas</h6>
            <p>17:00 - 18:00</p>
            <hr>
            <h6>Število prostih mest</h6>
            <p>4</p>
            <hr>
            <h6>Prijavi se na dogodek</h6>
            <a href="/ponudba-del/delo" class="btn btn-success">Prijava</a>
        </div>
    </div>

    <div class="card profile">

        <div class="card-body profile-body">
            <img class="profile-thumbnail profile-body-item" src="/assets/pics/instruktor1.jpg" alt="Card image cap">
            <a href="/profil/ogled">
                <h3 class="profile-body-item">Mark Zuki</h3>
            </a>
            <hr>
            <h4>Opis uporabnika</h4>
            <p>Živjo! Sem študent na FRI in velik entuziast matematike.</p>
            <hr>
            <div id="star-rating">
                <h4>Ocena uporabnika:</h4>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>

    {{> carousel}}
</body>