<body>
  <!--J o b s  p a g e-->
  <div class="container" style="padding-bottom: 30px;">
    <div class="col">
      <h2>Seznam dosegljivih inštruktorjev</h2>
      <hr>
      <p class="text-center"><a href="./seznamPonudb.html" id="signin">Preveri seznam vseh inštrukcij</a></p>
    </div>

    <!--S e a r c h  b a r-->
    <input class="form-control" type="text" placeholder="Poišči inštruktorja" aria-label="Search">
  </div>

  <!--P r e d m e t i  o p c i j e-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4 myCol">
        <a href="seznamPonudb.html?predmet=matematika">
          <img src="./assets/pics/mat.jpg" class="img-responsive"></img>
          <div class="predmetText">
            Matematika
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 myCol">
        <a href="seznamPonudb.html?predmet=fizika">
          <img src="./assets/pics/fiz.jpg" class="img-responsive"></img>
          <div class="predmetText">
            Fizika
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 myCol">
        <a href="seznamPonudb.html?predmet=kemija">
          <img src="./assets/pics/kem.jpg" class="img-responsive"></img>
          <div class="predmetText">
            Kemija
          </div>
        </a>
      </div>
    </div>

    <div class="row" style="padding-bottom: 50px;">
      <div class="col-sm-12 col-md-4 myCol">
        <a href="seznamPonudb.html?predmet=programiranje">
          <img src="./assets/pics/prog.jpg" class="img-responsive"></img>
          <div class="predmetText">
            Programiranje
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 myCol">
        <a href="seznamPonudb.html?predmet=slovenscina">
          <img src="./assets/pics/slo.jpg" class="img-responsive"></img>
          <div class="predmetText">
            Slovenščina
          </div>
        </a>
      </div>
      <div class="col-sm-12 col-md-4 myCol">
        <a href="seznamPonudb.html?predmet=anglescina">
          <img src="./assets/pics/ang.jpg" class="img-responsive"></img>
          <div class="predmetText">
            Angleščina
          </div>
        </a>
      </div>
    </div>
  </div>
</body>