<body>

  <ul class="nav container" id="ins-nav">
    <li class="nav-item nav-item-left-border bg-info">
      <a class="nav-link active" href="/instruktorji">Inštruktorji</a>
    </li>
    <li class="nav-item nav-item-inactive-bg nav-item-right-border">
      <a class="nav-link" href="/instrukcije-dogodki">Dogodki</a>
  </ul>

  <!--F i l t e r-->
  <div class="container" id="filter-bar">
    <form action="#">

      <div class="filter-item">
        <label for="predmeti">Predmet:</label>
        <select name="predmeti" id="predmeti" class="form-control">
          <option value="all">Vsi</option>
          <option value="mathematics">Matematika</option>
          <option value="physics">Fizika</option>
          <option value="chemistry">Kemija</option>
          <option value="programming">Programiranje</option>
          <option value="slovene">Slovenščina</option>
          <option value="english">Angleščina</option>
          <option value="other">Ostalo</option>
        </select>
      </div>

      <div class="filter-item">
        <label for="stopnja">Stopnja:</label>
        <select name="stopnja" id="stopnja" class="form-control">
          <option value="all">Vsi</option>
          <option value="primary">Osnovna šola</option>
          <option value="high">Srednja šola</option>
          <option value="university">Univerza / Visoka šola</option>
          <option value="other">Ostalo</option>
        </select>
      </div>

      <div class="filter-item">
        <label for="razvrsti">Razvrsti po:</label>
        <select name="razvrsti" id="razvrsti" class="form-control">
          <option value="rating">Oceni</option>
          <option value="exp">Izkušnjah</option>
          <option value="price-low">Ceni (najcenejši najprej)</option>
          <option value="price-high">Ceni (najdražji najprej)</option>
        </select>
      </div>
      <div>
        <input type="checkbox" id="available" name="available" value="available">
        <label for="available"> Prikaži samo proste inštruktorje</label>
      </div>

      <input type="submit" value="Filtriraj" class="btn btn-info">
    </form>
  </div>

  <!--S e a r c h  b a r-->
  <div class="input-group mb-3 container">
    <input type="text" class="form-control" placeholder="Vpiši želeno iskanje" aria-label="Iskanje"
      aria-describedby="search-button">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary btn-info" type="button" id="search-button">Išči</button>
    </div>
  </div>

  <!--I n s t r u c t o r s-->
  <div id="instructors" class="container">

    {{#if sporocilo}}
    <div class="alert alert-warning container" style="margin-top: 2rem">{{sporocilo}}</div>
    {{/if}}

    {{#each instruktorji as |instruktor|}}
    {{#if statusInstruktorja}}
    <div class="card instructor" style="width: 18rem;">
      <img class="card-img-top" src="./assets/pics/instruktor1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{instruktor.ime}} {{instruktor.priimek}}</h5>
        <p class="card-text">{{instruktor.opis}}</p>
        <a href="#" class="btn btn-primary">Profil</a>
      </div>
    </div>
    {{/if}}
    {{/each}}

  </div>

  <div class="load-more text-primary">
    <h3>Naloži več...</h3>
  </div>

  <hr>

  {{> carousel}}

</body>