<body>

    <div class="container">
        <div class="row" style="padding-top: 30px;">
            <div class="col">
                <h1>Objavi oglas za inštrukcijski dogodek</h1>
                <p><i>Izpolnite spodnje podatke in objavite oglas za inštrukcije, s katerimi lahko širite svoje
                        znanje.</i></p>
                <hr>
                <form id="instructionsEventNewPost" action="" method="post" role="form">
                    {{#if sporocilo}}
                    <div class="alert alert-warning container" style="margin-top: 2rem">{{sporocilo}}</div>
                    {{/if}}
                    <div class="form-group">
                        <label for="naziv">Ime dogodka</label>
                        <input id="naziv" name="naziv" type="text" class="form-control"
                            placeholder="Poimenujte vaš dogodek...">
                    </div>
                    <div class="form-group">
                        <label for="opis">Opis dogodka</label>
                        <textarea class="form-control" id="opis" name="opis" rows="5"
                            placeholder="Vnesite dodatne informacije o dogodku..."></textarea>
                    </div>

                    <label for="cena">Cena dogodka</label>
                    <div class="form-group input-group">
                        <input id="cena" name="cena" type="number" class="form-control" value="0" step="any" min="0">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">€</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datum">Datum dogodka</label>
                        <input type="date" class="form-control" id="datum" name="datum">
                    </div>

                    <div class="form-group">
                        <label for="ura">Ura dogodka</label>
                        <input type="time" class="form-control" id="ura" name="ura">
                    </div>

                    <div class="form-group">
                        <label for="steviloProstihMest">Maksimalno število udeležencev</label>
                        <input id="steviloProstihMest" name="steviloProstihMest" type="number" class="form-control"
                            placeholder="Vnesite celo število" step="1" min="1" value="1"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    </div>

                    <div class="form-group">
                        <label for="naslovnaSlikaInstrukcije">Dodaj naslovno fotografijo (neobvezno)</label>
                        <input type="file" class="form-control-file" id="naslovnaSlikaInstrukcije">
                    </div>

                    <button class="btn btn-primary">Objavi</button>
                    <hr>
                </form>
            </div>
        </div>
    </div>

    {{> carousel}}
</body>