<body>
  <div class="return container-fluid" style="margin-top: 1rem;">
    <a href="/instrukcije-dogodki" class="btn btn-info">Nazaj na seznam dogodkov</a>
  </div>

  <div class="card event">
    <img class="card-img-top event-header" src="/assets/pics/oblikovanje.png" alt="Card image cap">
    <div class="card-body event-body">
      <table class="table table-borderless" id="tabela-podatkov">
        <tbody>
          <h4 id="profile-podnaslov">Podrobnosti</h4>
          <tr>
            <th class="thPodatki" scope="row">Naslov:</th>
            <td id="naslov">Predavanje na temo daljic in premic</td>
          </tr>
          <tr>
            <th class="thPodatki" scope="row">Opis:</th>
            <td id="opis">Predavanje bo trajalo 30 minut, po čemer me boste lahko spraševali vse na temo daljic
              ter premic.</td>
          </tr>
          <tr>
            <th class="thPodatki" scope="row">Cena:</th>
            <td id="cena">5€</td>
          </tr>
          <tr>
            <th class="thPodatki" scope="row">Datum in čas:</th>
            <td id="datum">2020-12-16 18:00</td>
          </tr>
          <tr>
            <th class="thPodatki" scope="row">Število prostih mest:</th>
            <td id="stMest">10</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <button type="button" id="edit-button" value="edit" class="btn btn-success" onclick="uredi()">Uredi</button>
      <button type="button" id="save-button" value="save" class="btn btn-success" onclick="shrani()"
        style="display: none;">Shrani spremembe</button>
      <button type="button" id="delete-button" value="delete" class="btn btn-danger" onclick="shrani()"
        style="display: none; margin-top: 20px;">Izbriši</button>
    </div>
  </div>

  <div class="card profile">

    <div class="card-body profile-body">
      <img class="profile-thumbnail profile-body-item" src="/assets/pics/instruktor1.jpg" alt="Card image cap">
      <a href="/profil/ogled">
        <h3 class="profile-body-item">Mark Zuki</h3>
      </a>
      <hr>
      <h4>Opis uporabnika</h4>
      <p>Živjo! Sem študent na FRI in velik entuziast matematike.</p>
      <hr>
      <div id="star-rating">
        <h4>Ocena uporabnika:</h4>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
    </div>
  </div>

  {{> carousel}}

  <script>
    function uredi() {
      document.getElementById("edit-button").style.display = "none";
      document.getElementById("save-button").style.display = "block";
      document.getElementById("delete-button").style.display = "block";

      var naslov = document.getElementById("naslov");
      var opis = document.getElementById("opis");
      var cena = document.getElementById("cena");
      var datum = document.getElementById("datum");
      var stMest = document.getElementById("stMest");

      var naslov_data = naslov.innerHTML;
      var opis_data = opis.innerHTML;
      var cena_data = cena.innerHTML;
      var datum_data = datum.innerHTML;
      var stMest_data = stMest.innerHTML;

      naslov.innerHTML = "<input type='text' class='form-control' id='naslov_text' value='" + naslov_data + "'>";
      opis.innerHTML = "<input type='text' class='form-control' id='opis_text' value='" + opis_data + "'>";
      cena.innerHTML = "<input type='text' class='form-control' id = 'cena_text' value = '" + cena_data + "'>";
      datum.innerHTML = "<input type='datetime-local' class='form-control' id='datum_value' value='2020-12-16T18:00:00'>";
      stMest.innerHTML = "<input type='text' class='form-control' id = 'stMest_text' value = '" + stMest_data + "'>";
    }
    function shrani() {
      var naslov_novi = document.getElementById("naslov_text").value;
      var opis_novi = document.getElementById("opis_text").value;
      var cena_novi = document.getElementById("cena_text").value;
      var datum_novi = document.getElementById("datum_value").value;
      var stMest_novi = document.getElementById("stMest_text").value;

      document.getElementById("naslov").innerHTML = naslov_novi;
      document.getElementById("opis").innerHTML = opis_novi;
      document.getElementById("cena").innerHTML = cena_novi;
      document.getElementById("datum").innerHTML = datum_novi;
      document.getElementById("stMest").innerHTML = stMest_novi;

      document.getElementById("edit-button").style.display = "block";
      document.getElementById("save-button").style.display = "none";
      document.getElementById("delete-button").style.display = "none";
    }
  </script>
</body>