<body>
  <div class="container">
    <div class="row" style="padding-top: 30px;">
      <div class="col">
        <h1>Objavi oglas za delo</h1>
        <p><i>Izpolni spodnje podatke in objavi oglas za delo, na katerega se bodo lahko prijavili ustrezni
            kandidati. </i></p>
        <hr>
        <form method="post" action="" role="form" id="jobNewPost">
          <div class="form-group">
            <label for="naziv">Naziv dela</label>
            <input id="naziv" name="naziv" type="text" class="form-control" placeholder="Kakšno delo ponujaš?">
          </div>
          <div class="form-group">
            <label for="opis">Opis dela</label>
            <textarea id="opis" name="opis" class="form-control" rows="5"
              placeholder="Napiši informacije o delu"></textarea>
          </div>
          <label for="cena">Plačilo, ki ga ponujam</label>
          <div class="form-group input-group">
            <input id="cena" name="cena" type="number" class="form-control" value="0" step="any" min="0">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">€</span>
            </div>
          </div>
          <p><i>Plačljiva dela se plačajo po dogovoru. V primeru zlorabe bomo proti kršitelju ustrezno ukrepali.</i></p>
          <div class="form-group">
            <label for="datum">Datum</label>
            <input id="datum" name="datum" type="date" class="form-control">
          </div>
          <button class="btn btn-primary" onclick="return preveriFormo()">Objavi</button>
          <hr>
        </form>
      </div>
    </div>
  </div>

  <script>
    function preveriFormo() {
      var naziv = document.getElementById('naziv').value;
      var opis = document.getElementById('opis').value;
      var cena = document.getElementById('cena').value;
      var datum = document.getElementById('datum').value;

      if (naziv == "" || opis == "" || cena == "" || datum == "") {
        alert("Izpolnite vsa polja!");
        return false;
      }
    }
  </script>

  {{> carousel_getstarted}}

</body>