<body>

  <div id="job-header" class="container">
    <h2 class="bg-info">Seznam ponudbe del</h2>
  </div>

  <!--F i l t e r-->
  <div class="container" id="filter-bar">

      <div class="filter-item">
        <label for="razvrsti">Razvrsti po:</label>
        <select name="razvrsti" id="razvrsti" class="form-control">
          <option value="">Izberi filter...</option>
          <option value="datum">Datumu (bližnji najprej)</option>
          <option value="REVdatum">Datumu (kasnejši najprej)</option>
          <option value="steviloProstihMest">Številu prostih mest (najmanj najprej)</option>
          <option value="REVsteviloProstihMest">Številu prostih mest (največ najprej)</option>
          <option value="naziv">Imenu (A-Z)</option>
          <option value="REVnaziv">Imenu (Z-A)</option>
          <option value="cena">Ceni (cenejši najprej)</option>
          <option value="REVcena">Ceni (dražji najprej)</option>
        </select>
      </div>

      <button id="filter-btn" value="Filtriraj" class="btn btn-info">Filtriraj</button>
  </div>

  <!--S e a r c h  b a r-->
  <div class="input-group mb-3 container">
    <input id="search" onkeyup="isci()" type="text" class="form-control" placeholder="Vpiši želeno iskanje"
      aria-label="Iskanje" aria-describedby="search-button">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary btn-info" type="button" id="search-button">Išči</button>
    </div>
  </div>

  <!--N e w-->
  <div class="new-job container">
    <a href="/ponudba-del/dodaj" class="btn btn-success">Objavi novo ponudbo</a>
  </div>

  <!--J o b s-->
  {{#if sporocilo}}
  <div class="alert alert-warning container" style="margin-top: 2rem">{{sporocilo}}</div>
  {{/if}}

  <div id="instructors" class="container">
    {{#each dela as |delo|}}
    <div class="card instructor" style="width: 18rem;">
      <img class="card-img-top" src="../../assets/thumbnails/red.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{delo.naziv}}</h5>
        <p class="card-text" style="height: 2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          {{delo.opis}}</p>
        <a href="/ponudba-del/delo/{{delo._id}}" class="btn btn-primary">Podrobnosti</a>
      </div>
    </div>
    {{/each}}
  </div>

  <hr>

  {{> carousel_getstarted}}

  <script>
    let filterBtn = document.getElementById("filter-btn");
    filterBtn.addEventListener('click', function () {
      console.log("Filter button has been clicked!");

      var razvrsti = document.getElementById("razvrsti").value;

      console.log(razvrsti);

      window.location = "/ponudba-del/" + razvrsti;

    });

    function isci() {
      // Declare variables
      var filter, list, a, txtValue, search;


      //ul = document.getElementById("myUL");
      //li = ul.getElementsByTagName('li');

      search = document.getElementById("search");
      list = document.getElementsByClassName("card");

      filter = search.value.toUpperCase();

      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < list.length; i++) {
        a = list[i].getElementsByClassName("card-title")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          list[i].style.display = "";
        } else {
          list[i].style.display = "none";
        }
      }
    }
  </script>

</body>