<body>
    <!--J o b s  p a g e-->
    <div class="container" style="padding-bottom: 30px;">
        <div class="col">
            <h2>Dela</h2>
            <hr>
            <p class="text-center"><a href="./seznamPonudb.html" id="signin">Preveri seznam vseh del</a></p>
        </div>

        <!--S e a r c h  b a r-->
        <input class="form-control" type="text" placeholder="Poišči delo" aria-label="Search">
    </div>

    <!--J o b s  o p c i j e-->
    <div class="container">
        <div class="row">
            <div class="col myCol">
                <a href="seznamPonudb.html?predmet=programiranje2">
                    <img src="./assets/pics/programiranje.png" class="img-responsive list-thumbnail"></img>
                    <div class="predmetText">
                        Programiranje
                    </div>
                </a>
            </div>
            <div class="col myCol">
                <a href="seznamPonudb.html?predmet=pisanje">
                    <img src="./assets/pics/pisanje.jpg" class="img-responsive list-thumbnail"></img>
                    <div class="predmetText">
                        Pisanje
                    </div>
                </a>
            </div>
        </div>
        <div class="row" style="padding-bottom: 50px;">
            <div class="col myCol">
                <a href="seznamPonudb.html?predmet=oblikovanje">
                    <img src="./assets/pics/oblikovanje.png" class="img-responsive list-thumbnail"></img>
                    <div class="predmetText">
                        Oblikovanje
                    </div>
                </a>
            </div>
            <div class="col myCol">
                <a href="seznamPonudb.html?predmet=video">
                    <img src="./assets/pics/video.png" class="img-responsive list-thumbnail"></img>
                    <div class="predmetText">
                        Video
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>