<body>
  <div class="container">
    <h1 id="profile-naslov">Ime Priimek</h1>
    <hr>
    <div class="row">
      <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center flex-column">
        <form>
          <div class="form-group">
            <label for="opis">Opis:</label>
            <textarea class="form-control" rows="5" id="opis" readonly
              style="resize: none; width: 100%;">Uporabnikov opis...</textarea>
          </div>
        </form>
        <button type="button" id="uredi-opis" value="edit" class="btn btn-primary" onclick="urediOpis()"
          style="width: 30%">Spremeni opis</button>
        <button type="button" id="shrani-opis" value="save" class="btn btn-danger" onclick="shraniOpis()"
          style="width: 30%; display: none">Shrani</button>
        <br>
      </div>
      <div class="col-12 col-xl-6 col-lg-6 col-md-6 d-flex justify-content-center">
        <img src="/assets/pics/profile_picture.png" alt="ProfilnaSlika" class="img-responsive"
          style="width: 200px; height: 200px;">
      </div>
    </div>

    <div class="row">
      <div class="table-responsive">
        <hr>
        <table class="table table-borderless" id="tabela-podatkov">
          <tbody>
            <h4 id="profile-podnaslov">Podatki:</h4>
            <tr>
              <th class="thPodatki" scope="row">Email naslov:</th>
              <td id="email">imepriimek@gmail.com</td>
            </tr>
            <tr>
              <th class="thPodatki" scope="row">Telefonska številka:</th>
              <td id="phone">030 723 418</td>
            </tr>
            <tr>
              <th class="thPodatki" scope="row">Datum vpisa:</th>
              <td>26.10.2020</td>
            </tr>
            <tr>
              <th class="thPodatki" scope="row">Status:</th>
              <td id="status">Učenec, Inštruktor</td>
            </tr>
            <tr id="spremeni-sliko" style="display: none;">
              <th class="thPodatki" scope="row">Spremeni profilno sliko:</th>
              <td>
                <form>
                  <div class="form-group">
                    <input type="file" class="form-control-file" id="profilna-slika">
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" id="edit-button" value="edit" class="btn btn-primary" onclick="urediPodatke()">Spremeni
          podatke</button>
        <button type="button" id="save-button" value="save" class="btn btn-danger" onclick="shraniPodatke()"
          style="display: none;">
          Shrani</button>
        <hr>
        <h4 id="profile-podnaslov">Dodatno:</h4>
      </div>
    </div>

    <div class="tab pb-5">
      <button class="tablinks" onclick="openCity(event, 'kronologija')">Moje Objave</button>
      <button class="tablinks" onclick="openCity(event, 'obvestila')">Obvestila<span class="znacka">1</span></button>
      <button class="tablinks" onclick="openCity(event, 'moja-ocena')">Moja ocena</button>
      <button class="tablinks" onclick="openCity(event, 'spremeni-geslo')">Spremeni geslo</button>
    </div>

    <div id="kronologija" class="tabcontent">
      <div class="col d-flex justify-content-center">
        <table class="table">
          <thead>
            <tr class="trTabelaKrono">
              <th scope="col">#</th>
              <th scope="col">Projekt</th>
              <th scope="col">Datum</th>
              <th scope="col">Uredi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>HTML stran, projekt Spletnega Programiranja</td>
              <td>26.10.2020</td>
              <td><a href="/ponudba-del/delo/uredi"><i class="fas fa-edit"></i></a> <a href="#"><i class="far fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Logo za projekt SP</td>
              <td>15.10.2020</td>
              <td><a href="/ponudba-del/delo/uredi"><i class="fas fa-edit"></i></a> <a href="#"><i class="far fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div id="obvestila" class="tabcontent">
      <div class="col d-flex justify-content-center">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nedavna obvestila</th>
              <th scope="col">Datum</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-danger">
              <th scope="row">1</th>
              <td><a href="./job_page.html">Anže Vtičnik je spremenil datum inštrukcije - Programiranje 1:
                  rekurzija.</a>
              </td>
              <td>14.11.2020</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Prijavil si se na inštrukcijo - Programiranje 1: rekurzija.</td>
              <td>30.10.2020</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Prijavil si se na delo - Domača naloga iz Algebre HITRO!!!</td>
              <td>28.10.2020</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td><a href="./chat.html">Prejel si novo sporočilo od Janez Novak.</a></td>
              <td>5.11.2020</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="moja-ocena" class="tabcontent">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <p><b>Moja ocena:</b></p>
        </div>
      </div>
    </div>

    <div id="spremeni-geslo" class="tabcontent">
      <div class="col d-flex justify-content-center">
        <form>
          <p><b>Spremeni geslo:</b><br><i><small>Vpišite novo geslo, ki naj bo dolgo vsaj 8 znakov!</small></i></p>
          <div class="form-group">
            <label for="name">Novo geslo:</label>
            <input type="password" id="passwordReset"><br>
            <label for="surname">Potrdi novo geslo: </label>
            <input type="password" id="passwordResetConfirm">
          </div>
          <button class="btn btn-danger" id="resetPassword" type="submit" onclick="novoGeslo()">Potrdi</button>
        </form>
      </div>
    </div>

  </div>

  <script>
    function novoGeslo() {
      var password1 = document.getElementById("passwordReset");
      var password2 = document.getElementById("passwordResetConfirm");

      if (password1.value != password2.value) {
        alert("Gesli se ne ujemata!")
        return false;
      } else if (password1.value.length < 8) {
        alert("Geslo mora biti dolgo vsaj 8 znakov!")
        return false;
      } else {
        alert("Geslo je bilo uspešno spremenjeno!")
        return true;
      }
    }

    function urediOpis() {
      document.getElementById("uredi-opis").style.display = "none";
      document.getElementById("shrani-opis").style.display = "block";
      document.getElementById("opis").removeAttribute("readonly");

    }
    function shraniOpis() {
      document.getElementById("uredi-opis").style.display = "block";
      document.getElementById("shrani-opis").style.display = "none";
      document.getElementById("opis").setAttribute("readonly", true);

    }

    function urediPodatke() {
      document.getElementById("edit-button").style.display = "none";
      document.getElementById("save-button").style.display = "block";
      document.getElementById("spremeni-sliko").style.display = "block";

      var email = document.getElementById("email");
      var phone = document.getElementById("phone");

      var email_data = email.innerHTML;
      var phone_data = phone.innerHTML;

      email.innerHTML = "<input type='text' class='form-control' id='email_text' value='" + email_data + "'>";
      phone.innerHTML = "<input type='text' class='form-control' id='phone_text' value='" + phone_data + "'>";
    }
    function shraniPodatke() {
      var email_novi = document.getElementById("email_text").value;
      var phone_novi = document.getElementById("phone_text").value;

      document.getElementById("email").innerHTML = email_novi;
      document.getElementById("phone").innerHTML = phone_novi;

      document.getElementById("edit-button").style.display = "block";
      document.getElementById("save-button").style.display = "none";
      document.getElementById("spremeni-sliko").style.display = "none";
    }

    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <script>
    $(window).scroll(function () {
      $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
    });
  </script>

</body>

</html>