<body>
    <div id="hero">
        <!--VideoBG-->
        <video loop muted autoplay poster="./assets/backgrounds/welcome_poster.png" id="bg-video">
            <source src="./assets/backgrounds/welcome_video.mp4" type="video/mp4">
        </video>

        <!--Overlay-->
        <div id="overlay"></div>

        <!--Signin Form-->
        <div class="container form-container" id="signing-form-container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="formSign form" data-aos="zoom-in">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Registracija uporabnika</h1>
                            </div>
                        </div>
                        <form id="registerNewUser" action="" method="post" role="form">
                            <!--Warning-->
                            {{#if sporocilo}}
                            <div class="alert alert-warning container" style="margin-top: 2rem">{{sporocilo}}</div>
                            {{/if}}
                            
                            <div class="row container-fluid" id="ime">
                                <div class="col">
                                    <label for="ime">Ime</label>
                                    <input id="ime" name="ime" type="text" class="form-control">
                                </div>
                                <div class="col">
                                    <label for="priimek">Priimek</label>
                                    <input id="priimek" name="priimek" type="text" class="form-control">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" id="email"
                                    aria-describedby="emailHelp" placeholder="uporabnik@domena.si">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="geslo">Geslo</label>
                                <input type="password" name="geslo" id="geslo" class="form-control"
                                    placeholder="Geslo mora biti dolgo vsaj 8 znakov">
                            </div>
                            <div class="form-group">
                                <label for="gesloPotrdi">Potrdi geslo</label>
                                <input type="password" name="gesloPotrdi" id="gesloPotrdi" class="form-control">
                            </div>
                            <hr>
                            <span>
                                <input type="checkbox" id="statusInstruktorja" name="statusInstruktorja" checked="true" value="true">
                                <label for="statusInstruktorja"> Želim postati inštruktor (to lahko storite
                                    kasneje)</label>
                            </span>

                            <hr>
                            <div class="col-md-12 text-center ">
                                <button class="btn btn-block mybtn btn-primary" onclick="preveriFormo()">Registriraj</button>
                            </div>
                            <div class="col-md-12 ">
                                <hr>
                            </div>
                            
                            <div class="form-group">
                                <p class="text-center">Že registriran? <a href="./signin.html" id="signin">Prijavi se
                                        tukaj.</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<script>
    function preveriFormo() {
    
      var ime = document.getElementById('ime').value;
      var priimek = document.getElementById('priimek').value;
      var password1 = document.getElementById("geslo").value;
      var password2 = document.getElementById("gesloPotrdi").value;

      var crkeReg = new RegExp("^[a-zA-ZčžćšđČŽĆŠĐ\s]+$");
      var gesloReg = new RegExp("^(?=.*\d).{8,20}$");

      var odgovor = "";

      var imeTest = crkeReg.test(ime);
      var priimekTest = crkeReg.test(priimek);
      if (!imeTest || !priimekTest) {
        odgovor += "Ime in priimek lahko vsebujeta le črke!\n";
      }

      var gesloTest = gesloReg.test(password1);
      if (!gesloTest) {
        odgovor += "Geslo mora vsebovati 8 do 20 znakov!\n";
      } else if (password1 != password2) {
        odgovor += "Gesli se ne ujemata!\n";
      }

      if (!imeTest || !priimekTest || !gesloTest) {
        alert(odgovor);
        event.preventDefault();
      }
    }
  </script>

</body>