<body>
    <div id="hero">
        <!--VideoBG-->
        <video loop muted autoplay poster="./assets/backgrounds/welcome_poster.png" id="bg-video">
            <source src="./assets/backgrounds/welcome_video.mp4" type="video/mp4">
        </video>

        <!--Overlay-->
        <div id="overlay"></div>

        <!--Signin Form-->
        <div class="container form-container" id="signing-form-container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="formSign form" data-aos="zoom-in">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>Registracija uporabnika</h1>
                            </div>
                        </div>
                        <form action="" name="signup">
                            <div class="row container-fluid" id="name-surname-input">
                                <div class="col">
                                    <label for="email">Ime</label>
                                    <input type="text" name="ime" class="form-control" id="ime">
                                </div>
                                <div class="col">
                                    <label for="email">Priimek</label>
                                    <input type="text" name="priimek" class="form-control" id="priimek">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" id="email"
                                    aria-describedby="emailHelp" placeholder="uporabnik@domena.si">
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="password">Geslo</label>
                                <input type="password" name="password" id="password" class="form-control"
                                    placeholder="Geslo mora biti dolgo vsaj 8 znakov">
                            </div>
                            <div class="form-group">
                                <label for="password">Potrdi geslo</label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <hr>
                            <span>
                                <input type="checkbox" id="instruktor-checkbox" name="postani-instruktor" value="true">
                                <label for="postani-instruktor"> Želim postati inštruktor (to lahko storite
                                    kasneje)</label>
                            </span>
                            <hr>
                            <div class="col-md-12 text-center ">
                                <button type="submit" class="btn btn-block mybtn btn-primary">Registriraj</button>
                            </div>
                            <div class="col-md-12 ">
                                <hr>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button type="button" class="btn btn-block mybtn btn-secondary"><img
                                        src="https://img.icons8.com/color/16/000000/google-logo.png"> Prijava z Google
                                    računom</a>
                            </div>
                            <div class="form-group">
                                <p class="text-center">Že registriran? <a href="./signin.html" id="signin">Prijavi se
                                        tukaj.</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>