* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chatbox {
    background-color: #15001b;
    position: absolute;
    top: 0px;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#message-box {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#messages {
    overflow-y: auto;
    margin-bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #message-box {
        margin-top: 150px;
    }
    #messages {
        width: 100%;
    }
}

#messages .message {
    align-self: flex-end;
    justify-self: flex-end;
    margin: 10px;
    text-align: end;
    background-color: #a6edffdc;
    border: 1.5px solid rgba(230, 230, 230, 0.651);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin-left: 49%;
    margin-right: 5px;

    animation-name: message;
    animation-duration: 1s;
}

@keyframes message{
    from {background-color: #dcffbbdc; border-radius: 20px;}
    to {background-color: #a6edffdc; border-radius: 5px;}
  }

#messages .responses {
    width: 50%;
    align-self: flex-start;
    margin: 10px;
    text-align: start;
    background-color: #ffffffdc;
    border: 1.5px solid rgba(230, 230, 230, 0.651);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;

    animation-name: response;
    animation-duration: 1s;
}

@keyframes response{
    from {background-color: #ffbbbbdc; border-radius: 20px;}
    to {background-color: #ffffffdc; border-radius: 5px;}
  }


#type {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 5px;
}

#textbox {
    width: 80%;
    margin:0%;
    height: 100%;
    border-radius: 0;
    outline: white solid 1px;
}

.btn-info {
    margin: 0;
    width: 20%;
    height: 100%;
    border-radius: 0;
    outline: white solid 1px;
    background-color: #7a009c;
}

svg {
    transform: translateY(-15%);
}

.contacts-web {
    flex-grow: 1;
}

html {
    background-color: #9ecbd1;
}

body {
    display: flex;
    flex-flow: column;
    z-index: 4;
}

.contacts-mobile {
    height: 50px;
}

#contactbox img {
    height: 50px;
    margin: 10px;
}

.contact-list {
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
}

.contact-list-mobile {
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

#contactbox ul li {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #9ecbd1;
    height: 60px;
}

#contactbox ul li:hover {
    cursor: pointer;
    background-color: rgba(181, 207, 255, 0.849);
}

.podatki {
    overflow: hidden;
    display: flex;
    justify-self: flex-end;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

#add-friend {
    justify-self: flex-end;
}

/*za skrit imena v mobile načinu*/
.hide {
    
}

.list-item-mobile {

}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-button {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background: #9d97a5;
  border: 2px none #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
  background: #535353;
}
::-webkit-scrollbar-track {
  background: #c9c9c9;
  border: 0px none #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}