<div class="row" style=" height: 100vh; margin-right: 0; margin-left: 0;" id="contacts">
  <div class="col-sm-3" style="padding: 0;">


    <ul class="bg-dark list-group">
      <div style="    border: 3px;
            border-color: #343a40;
            border-style: solid">


        <li [ngClass]="{'radiusToggle' : showForm == true}" (click)="onClickForm()" class="posamezniKontakt"
          style="border-radius: 17px; border-style: none; text-align: center; font-size: medium;"
          class="list-group-item list-group-item-action">
          +
        </li>

        <form style="background: white;
                border-radius: 0px 0px 17px 17px;" (ngSubmit)="dodajNovKontakt()" method="post" *ngIf="showForm"
          class="formZaKontakte">
          Dodaj kontakt z elektronsko pošto:

          <input [(ngModel)]="novKontakt.emailKontakta" type="text" name="emailKontakta" placeholder=" Vnesi email"
            autocomplete="off">
          <button style="margin-left: 0.5rem;" class="btn btn-info" type="submit" [disabled]="!jePovezava()">Dodaj</button>
        </form>


      </div>



      <div *ngIf="podatkiKontakti.pridobljeniKontakti.length === 0">
        <li class="posamezniKontakt" style="border-style: none; background: #ffdd78;"
          class="list-group-item list-group-item-action">
          Nimaš nobenih kontaktov.
        </li>
      </div>
      <div *ngFor="let kontakt of podatkiKontakti.pridobljeniKontakti">

        <li class="posamezniKontakt" style="border-style: none;" (click)="kliciPridobiSporocila(kontakt._id)"
          class="list-group-item list-group-item-action">
          <div class="krogec">{{kontakt.ime | letters}}</div>

          {{kontakt.ime}} {{kontakt.priimek}}
        </li>
      </div>
    </ul>



  </div>

  <div class="col-sm-9 bg-dark" style="padding: 0;  height: 100vh;" id="chatbox">
    <div *ngIf="podatkiSporocila">
      <app-sporocila [sporocila]="podatkiSporocila"></app-sporocila>
    </div>
  </div>
</div>