* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-content {
    display: flex;
    height: 100vh;
}

#chat {
    display: flex;
    margin-top: 65px;
}

/* CONTACTS */

#contacts {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(212, 212, 212);
}

#contacts-header {
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

#search {
    margin: 5px;
}

#contacts-body {
    overflow-y: auto;
}

#contact-list {
    margin-top: 5px;
}

#contact-list li{
    height: 55px;
    margin: 0px 5px;
    border-radius: 5px;
    display: flex;
}

#contact-list li h6 {
    align-self: center;
    margin-left: 5px;
}

/* MESSAGING */

#messaging {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#active-contact {
    height: 100px;
    text-align: center;
    border-bottom: solid 1px rgb(212, 212, 212);
    border-right: 1px solid rgb(212, 212, 212);
}

#chatbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
    border-right: 1px solid rgb(212, 212, 212);
}

#messages {
    overflow-y: auto;
    height: 100%;
    width: 99%;
    margin: auto;
    display: flex;
    align-items: flex-end;
}

#message-list {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#message-list li {
    margin: 10px;
}

#message-list li p span{
    padding: 10px 15px;
    border-radius: 5px;
}

.sent {
    width: 60%;
    align-self: flex-end;
    justify-self: flex-end;
    text-align: end;
}

.recieved {
    width: 60%;
    align-self: flex-start;
    justify-self: flex-start;
    text-align: start;
}

.sent-span {
    background-color: rgb(247, 247, 247);
}

.recieved-span {
    background-color: rgb(140, 177, 255);
}

#messages-bottom {
    position: relative;
    height: 20%;
}

#send {
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 99%;
    left: 50%;
    transform: translate(-50%);
}

#send input {
    margin: 0px 3px;
}

.btn {
    margin: 0;
}

/* SHARED */

#shared {
    width: 20%;
    display: flex;
    flex-direction: column;
}

#active-contact-profile {
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    border-bottom: 1px solid rgb(212, 212, 212);
}

#active-contact-profile img {
    margin: 30px 0px;
}

#active-contact-profile svg {
    margin: 0px 5px;
}

#shared-files {
    height: 50%;
    overflow-y: auto;
}

#file-list li p {
    background-color: #9eb0ff;
    margin: 5px 0px;
    padding: 5px;
}

/* OTHER */

#send svg, #shared-buttons svg {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
    padding: 5px;
}

#send svg:hover {
    color: rgb(0, 12, 66);
    background-color: #b8b8b8;
}


/*

*********************

   MOBILE STYLING

*********************

*/

@media only screen and (max-width: 576px) {
    #chat {
        flex-direction: column;
        width: 100%;
    }

    #chat :nth-child(2) {
        order: 2;
    }

    /* CONTACTS */

    #contacts {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10%;
    }

    #contacts-header {
        width: 40%;
    }

    #contacts-header h3{
        display: none;
    }

    #contacts-body {
        width: 60%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    #contact-list li {
        display: inline;
        height: 100%;
        vertical-align: middle;
    }

    #contact-list li img {
        height: 45px;
        width: 45px;
    }

    #contact-list li h6 {
        display: inline;
        /*display: none;*/
    }

    /* MESSAGING */

    #messaging {
        width: 100%;
        height: 80%;
    }


    .posameznoSporocilo{
        margin-top: 0;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 30px;
        color: white;
        background-color: #18a2b8;
    }

    #active-contact {
        border-bottom: solid 1px rgb(212, 212, 212);
        text-align: center;
    }

    #messages {
        width: 95%;
    }

    #send :nth-child(3) {
        order: 3;
    }

    /* SHARED */

    #shared {
        width: 100%;
        height: 10%;
        flex-direction: row;
        
    }

    #active-contact-profile {
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
    }

    #active-contact-profile img {
        height: 50px;
        width: 50px;
        margin: 0px 10px;
    }

    #active-contact-profile svg {
        align-self: center;
        margin: 0px 10px;
    }

    #shared-files {
        width: 60%;
        height: 100%;
        border-left: 1px solid rgb(212, 212, 212);
    }

    /* OTHER */
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    }
    ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    }
    ::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border: 0px none #ffffff;
    border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #757575;
    }
    ::-webkit-scrollbar-thumb:active {
    background: #858585;
    }
    ::-webkit-scrollbar-track {
    background: #d9d9d9;
    border: 0px none #ffffff;
    border-radius: 50px;
    }
    ::-webkit-scrollbar-track:hover {
    background: #d9d9d9;
    }
    ::-webkit-scrollbar-track:active {
    background: #d9d9d9;
    }
    ::-webkit-scrollbar-corner {
    background: transparent;
    }

html {
    overflow: hidden;
}