.row p, button {
    margin: 5px;
}

.btn {
    margin-left: 15px;
    padding: 5px, 0px;
    align-items: center;
}

#dropdown-menu {
    left: auto;
    right: 5px;
}

#navbarDropdown a:hover {
    background-color: white;
}

.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}

.bg-custom {
    background: #272727;
}

.user_icon {
    height: 50px;
    width: 50px;
    filter: invert(1);
}

@media only screen and (max-width: 768px) {
    .user_icon {
        padding: 10px;
    }
}

.mx-auto {
    margin: auto;
}

#dropdown-menu {
    background-color: #124653;
}

.dropdown-menu a {
    color: #f7f7f7;
}

.dropdown-menu {
    right: 5px !important;
    left: auto;
    background-color: #124653;
}

.navbar {
    padding: 0.5rem;
}